@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.main {
  display: grid;
  grid-template-columns: 0.4fr 3fr;
  height: 100vh;
}
.main-content {
  background-color: #f5f5f5;
  max-height: 100vh;
  overflow-y: scroll;
}
/* SIDEBAR */
.sidebar {
  display: grid;
  grid-template-rows: 1fr 10fr;
  background-color: #1d2327;
}

.sidebar h1 {
  justify-self: center;
  align-self: end;
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #c3c3c3;
}
.sidebar--content {
  display: grid;
  grid-template-rows: 1fr 3fr 3fr;
  color: #c3c3c3;
}
.sidebar--content h2 {
  font-size: 14px;
  margin: 20px 0px;
  font-weight: normal;
  color: #c3c3c3df;
  text-align: center;
}

.sidebar--content ul {
  list-style: none;
}
.sidebar--content li {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 17px;
}
.sidebar--content li:hover {
  color: #72aee6;
}
.sidebar--content li.selected {
  color: #72aee6;
}
.domain a {
  font-weight: normal;
  color: rgb(110, 120, 173);
}
.hr {
  height: 1px;
  background-color: #d9d9d9;
  margin: 20px 0;
}

/* MAIN/MODULE CONTENT */

.module-header {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
  font-weight: normal;
  font-size: 28px;
}
.module-content {
  width: 80%;
  margin: 0 auto;
}

/* CREATE PROJECT */
.project-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 1.3rem;
  font-weight: lighter;
}

.input-container {
  display: flex;
  margin-bottom: 20px;
}
.input-container label {
  min-width: 250px;
}
.input-container textarea {
  height: 70px;
  padding: 10px;
  resize: none;
}
.input-container input:not([type="file"]),
textarea,
.choose-tech-container input {
  width: 100%;
  height: 40px;
  border: 1px solid #d9d9d9;
  padding: 0 10px;
  font-size: 1.2rem;
}
.input-container input[type="file"] {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.choose-tech-container {
  display: flex;
  gap: 40px;
  height: 280px;
}
.choose-tech-container label {
  margin-bottom: 20px;
}
.choose-tech-container > * {
  width: 50%;
}
.search-list {
  list-style: none;
  max-height: 200px;
  overflow-y: scroll;
}
.search-list li {
  padding: 10px;
  border-bottom: 1px solid #d9d9d9;
  border-left: 1px solid #d9d9d9;
  cursor: pointer;
  background-color: #fff;
}
.search-list li:hover {
  background-color: #e0e0e0;
}

.chosen-tech {
  border: 1px solid #d9d9d9;
  background-color: #fff;
  height: 276px;
  flex-wrap: wrap;
  overflow-y: scroll;
  display: flex;
}
.tech-icon {
  width: 90px;
  margin: 10px;
  position: relative;
}
.tech-icon img {
  width: 90px;
  height: 90px;
}
.tech-icon p {
  text-align: center;
  margin-top: -16px;
  font-size: 1.1rem;
  word-wrap: break-word;
  width: 100px;
}
.tech-delete.hide-icon {
  display: none;
}
.tech-delete {
  position: absolute;
  right: 2px;
  top: 1px;
  background-color: rgb(228, 228, 228);
  padding: 7px;
  font-size: 1.1rem;
  border-radius: 50%;
  cursor: pointer;
}
.project-input-container button {
  width: 40%;
  min-height: 40px;
  background-color: #3c3c3c;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  font-weight: lighter;
  cursor: pointer;
  margin: 20px auto;
  position: relative;
}
.project-input-container button:hover {
  background-color: #2c2c2c;
}

/* PROJECTS */
.project-container {
  display: grid;
}
.project--card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 30px;
  padding: 20px;
  background-color: white;
  border: 1px solid rgb(197, 197, 197);
  position: relative;
}
.project--menu {
  position: absolute;
  bottom: 0;
  left: 49%;
  display: flex;
  gap: 10px;
  padding-bottom: 10px;
}
.project--menu > * {
  cursor: pointer;
  color: #72aee6;
}
.project--menu span {
  font-weight: 300;
  color: black;
}
.project--menu .project--delete {
  color: #ff6d6d;
}
.project--menu.hide-menu {
  display: none;
}
.project--content {
  flex: 1;
}
.project--content h2 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 8px;
}
.project--content p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 8px;
}
.project--image img {
  width: 200px;
  height: 200px;
  background-color: #d9d9d9;
  margin-bottom: 10px;
  box-shadow: #2c2c2c44 0px 0px 10px;
}
.project--tech > * {
  width: 70px;
  height: 100%;
}
.project--links {
  display: flex;
  gap: 30px;
  width: 90%;
}
.project--links > * {
  display: flex;
}
.project--gh,
.project--live {
  flex: 1;
  display: flex;
  gap: 10px;
  font-size: 18px;
}
.project--links i:nth-child(1) {
  font-size: 20px;
}
.project--links a {
  color: #3c3c3c;
  text-decoration: none;
}

.project--links a:hover {
  color: #939393;
}
